/*
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.section {
  height: 100vh;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.section-home {
  background: white;
  width: 100%;
  padding: 0;
  margin: 0;
}

.start-image {
  cursor: pointer;
  width: 100%;
  /*height: 100vh;*/
  display: block;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {

.start-image {
  cursor: pointer;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  object-position: center;
}

}

@media (max-width: 375px) {

.home-container {
  height: 100vh; /* A 100% helyett a 100vh biztosabb, hogy kitöltse a teljes képernyőmagasságot */
  display: flex;
  justify-content: center; /* Vízszintes középre igazítás */
  align-items: center;     /* Függőleges középre igazítás */
}


.start-image {
  cursor: pointer;
  max-width: 100%;
  height: 80vh;
  padding-top: 240px;
}

}

/*
.start-image {
  /*max-width: 100%;*/  
/*  width: 100%;
  cursor: pointer;
/* width: 100%;h
   height: 100vh; 
   background-size: cover;    
   background-position: center;  
   background-repeat: no-repeat;
   background-attachment: fixed;
}*/
