.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-home {
  background: white;
}

.start-image {
  max-width: 100%;  /* nyugodtan állítható */
  width: 60%;
  height: auto;
  /*cursor: pointer;*/
}

.home_button {
  color: white;
  background-color: rgba(167, 5, 50, .8);
  margin-top: 70px;
  margin-left: 50px;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
}

.home_button:hover {
  color: white;
  background-color: rgba(167, 5, 50);
  border-color: rgba(167, 5, 50);
}

