.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-home {
  background: white;
}

.start-image {
  /*max-width: 100%;  /* nyugodtan állítható */
  width: 100%;
  height: 100%;
  cursor: pointer;
}
