.teszt {
  max-width: 100% !important; /* 1600px !important */
  padding-bottom: 16px !important;
}

.section-tiles {
  /*height: 100vh;*/
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.tiles-description {
 /*background: white; 
  padding: 50px;
  padding-left: 0px !important; 
  padding-right: 0px !important; */
  /*margin-left: 0px !important; 
  margin-right: 0px !important;*/
 max-width: 90% !important; 
 padding-top: 40px !important;
}

.tiles-theme {
  max-height: 100% !important;
  max-width: 90% !important; /* 1600px !important */
  padding-left: 0px !important; 
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.tiles-cards {
  cursor: pointer;
  height: 60vh;
  padding-bottom: 20px;
}

.css-1umw9bq-MuiSvgIcon-root {
  font-size: 30px !important;
}

.tileH2Title {
  text-align: center !important;
}

.MuiSvgIcon-root {
  margin-top: -10px !important;
}

.MuiSvgIcon-fontSizeMedium {
  margin-top: -10px !important;
}

.css-nn2jic-MuiSvgIcon-root {
  margin-top: -10px !important;
}

.buy-ticket {
  text-align: center;
}

@media (max-width: 1600px) {

.section-tiles {
    font-size: 0.95rem;
  }

.tileH2Title {
  font-size: 1.6rem;
}


.tiles-cards{
  height: 60vh !important;
}

@media (max-width: 425px) {

.teszt {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

  .tiles-cards{
  height: 60vh !important;
  padding-bottom: 0 !important;
}

.tiles-theme{
  max-width: 100% !important;
}

.buy-ticket {
  font-size: 80%;
}


}


}