.section-tiles {
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tiles-description {
 /*background: white; 
  padding: 50px;
  padding-left: 0px !important; 
  padding-right: 0px !important; */
  /*margin-left: 0px !important; 
  margin-right: 0px !important;*/
 max-width: 1600px !important; 
}

.tiles-theme {
  max-width: 1600px !important; 
  padding-left: 0px !important; 
  padding-right: 0px !important;
  padding-top: 0px !important;
}

.tiles-cards {
  cursor: pointer;
}

.css-1umw9bq-MuiSvgIcon-root {
  font-size: 30px !important;
}

/*
.css-g7fug4-MuiCardContent-root {
  padding-bottom: -6px !important;
}*/