.footerBase {
  background-color: rgb(207, 207, 207);
  width: 100%;
  padding: 25px 0 25px;
  display: flex;
  justify-content: center;
}

.contributorsBoxParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: min(1300px, 100%);
  padding: 0 5vh;
}

.contributorsBox {
  flex: 1;
}

#contributorsText{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

#contributorsNames{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0 !important;
}

.contributorsNamesLastRow{
    display: inline-flex; 
    line-height: 18px;
}

.imageBox {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 65%;
  max-width: 320px;
  height: auto;
}

@media (max-width: 1600px) {
    .contributorsBoxParent {
        width: min(1200px, 100%);
        padding: 0 0.5vh 0 5vh;
    }
}

@media (max-width: 1024px) {

.contributorsBoxParent {
    padding: 0 6vh 0 10vh;
}

#contributorsText{
    font-size: 13px;
}

#contributorsNames{
    font-size: 13px;
}

}

@media (max-width: 768px) {

.footerBase{
    padding-bottom: 0;
    padding-top: 10px;
}

  .contributorsBoxParent {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0 5vh;
    /*font-size: 75%;
    text-align: center;*/
  }

  .contributorsBox {
    width: 100%;
  }

#contributorsText{
    font-size: 12px;
}

#contributorsNames{
    font-size: 12px;
}

  .imageBox {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo {
    margin-top: -30px;
    width: 90%;
    max-width: 260px;
  }
}